@model Hazza.SiteInfo.ViewModels.SiteInfoViewModel

<h1>Tenant Information</h1>
<span><strong>Tenant Name: </strong>@Model.Name</span><br />
<span><strong>Tenant Datatable Prefix: </strong>@Model.DatabasePrefix</span>